@use 'footer';
@use 'mixins';
@use 'vars';

.container__form {
    max-width: 98%;
    margin: 3rem auto 2rem auto; 
    background-color: var(--bg-card);
    border: 0.0625rem solid var(--border-soft);
    border-radius: 0.5rem;
    padding: 2.5rem 1.5rem;
    transition: transform var(--transition-fast), border-color var(--transition-fast);

    &:hover {
        border-color: var(--primary-color);
    }
}

.nav-tabs {
    border-bottom: 0.1250rem solid var(--border-soft);
    .nav-link {
        color: var(--text-soft);
        border: none;
        &:hover {
            color: var(--primary-color);
            border: none;
        }
        &.active {
            background-color: transparent;
            color: var(--primary-color);
            border-bottom: 0.1875rem solid var(--primary-color);
            font-weight: bold;
        }
    }
}

.contact__form {
    
    padding: 1rem 0;
    min-height: 21.8750rem; 
}

.form {
    &__title {
        text-align: center;
        color: var(--primary-color);
        margin-bottom: 2rem;
    }

    &__fieldset {
        border: 0.125rem solid var(--primary-color); 
        border-radius: 0.5rem;
        padding: 1.5rem;
        margin-bottom: 1rem;
        width: 100%; 
    }

    &__legend {
        color: var(--primary-color);
        font-weight: bold;
        padding: 0 0.5rem;
        font-size: 1.1rem;
    }

    &__div {
        padding: 0.5rem;
        @include mixins.flex-start-column;
        width: 100%; 
        margin: 0 auto;

        &-checkbox {
            text-align: left;
            padding: 1rem 0.5rem;
        }
    }

    &__input {
        @include mixins.input;
        width: 100%;
        
        option {
            background-color: #000; 
            color: #fff;
        }
    }

    &__label {
        color: var(--text-white);
        margin-bottom: 0.3rem;
        font-weight: 500;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    &__btn {
        @include mixins.btn;
        margin-top: 1rem;
        width: 100%;
        max-width: 25rem;
        margin: 0 auto;
    }

    &-error__span {
        color: var(--error-color);
        font-size: 0.8rem;
        font-style: italic;
        margin-left: 0.5rem;
    }
}


@media (max-width: 48rem) {
    .nav-tabs .nav-link {
        font-size: 0.8rem;
        padding: 0.5rem;
    }
}