@use 'mixins';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--secondary-color);
    color: var(--text-main);
    font-family: var(--font-family);
    font-size: 1rem;  
    line-height: 1.5;
}

.logo {
    text-decoration: none;
    @include mixins.flex-center;
    align-items: baseline;
    font-weight: 800;

    &__s {
        color: var(--primary-color);
        font-size: 2.5rem;
        line-height: 1;
    }

    &__eller {
        color: var(--text-main);
        font-size: 1.25rem;
    }
}