@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-center-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin flex-between-column {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

@mixin flex-start-column {
    display: flex;
    justify-content: start;
    align-items: left;
    flex-direction: column;
}