@use 'vars';
@use 'mixins';

.theme-switch {

    padding-top: 5rem; 
    @include mixins.flex-center; 
    justify-content: flex-end; 
    padding-right: 2rem;
    margin: 0 auto;

    &__container {
        background-color: var(--bg-card);
        padding: 0.5rem 1rem;
        border-radius: 2rem;
        border: 0.0625rem solid var(--border-soft);
    }

    &__input {
        width: 2.5rem ;
        height: 1.25rem ;
        cursor: pointer;
        &:checked {
            background-color: var(--primary-color);
            border-color: var(--primary-color);
        }    
    }

    &__label {
        color: var(--text-muted);
        font-size: 0.875rem;
        margin-left: 0.5rem;
        cursor: pointer;
    }
}