:root {
    --primary-color: #FFD700;  
    --secondary-color: #000000; 
    --bg-card: #121212;
    --text-main: #ffffff;
    --text-muted: #aaaaaa;
    --border-soft: #252525;
    --font-family: calibri;
    --transition-fast: 0.3s ease;
}

.light-mode{
    --primary-color: rgb(37, 37, 135);  
    --secondary-color: #ffffff; 
    --bg-card: #ffffff;
    --text-main: #ffffff;
    --text-muted: #aaaaaa;
    --border-soft: #252525;
    --font-family: calibri;
    --transition-fast: 0.3s ease;
}