:root {
    --primary-color: rgb(255, 215, 0);
    --secondary-color: rgb(0, 0, 0);
    --bg-card: rgb(18, 18, 18);
    --text-main: rgb(255, 255, 255);
    --text-muted: rgb(170, 170, 170);
    --border-soft: rgb(37, 37, 37);
    --error-color: rgb(220, 53, 69);
    --font-family: 'Calibri', sans-serif;
    --transition-fast: 0.3s ease;
}

.light-mode {
    --primary-color: rgb(197, 160, 0); 
    --secondary-color: rgb(255, 255, 255); 
    --bg-card: rgb(248, 248, 248); 
    --text-main:  rgb(110, 110, 115); 
    --text-muted: rgb(110, 110, 115); 
    --border-soft: rgb(230, 230, 230); 
    --error-color: rgb(211, 47, 47);
    --font-family: 'Calibri', sans-serif;
    --transition-fast: 0.3s ease;
}